<!-- Content
================================================== -->
<div class="container">
    <div class="row sticky-wrapper">
        <div class="col-lg-8 col-md-8 padding-right-30" >

            <!-- Titlebar -->
            <div id="titlebar" class="listing-titlebar">
                <div class="listing-titlebar-title">
                    <h2 id="service_Name"><span id="category_Field" style="font-color: #9400D3"></span></h2>
                    <span>
						<a href="#listing-location" class="listing-address" id="location-data">
							<i class="fa fa-map-marker"></i>
						</a>
					</span>
                    <div class="hashTag">
                        <span class="">#파이썬</span>&nbsp;<span class="">#웹크롤링</span>&nbsp;<span class="">#날씨어플</span>
                    </div>
                </div>
            </div>

            <!-- Listing Nav -->
            <div id="listing-nav" class="listing-nav-container">
                <ul class="listing-nav">
                    <li><a href="#listing-overview" class="active">어떤 수업인가요?</a></li>
                    <li><a href="#listing-location">위치</a></li>
                    <li><a href="#listing-schedule">일정</a></li>
                    <li><a href="#listing-pricing-list">결제하기</a></li>
                </ul>
            </div>

            <!-- Service Description -->
            <div id="listing-overview" class="listing-section">
                <p id="service_content"></p>
                <div class="clearfix"></div>
            </div>
            <!-- Service Description -->

            <!-- Location -->
            <div id="listing-location" class="listing-section">
                <div class="add-listing-headline">
                    <h3><i class="sl sl-icon-location"></i>위치</h3>
                </div>
                <div id="singleListingMap-container">
                    <div id="singleListingMap" data-latitude="40.70437865245596" data-longitude="-73.98674011230469" data-map-icon="im im-icon-Hamburger"></div>
                    <a href="#" id="streetView">Street View</a>
                </div>
            </div>
            <!-- Location / End -->

            <!-- Schedule -->
            <div id="listing-schedule" class="listing-section">
                <div class="add-listing-headline">
                    <h3><i class="sl sl-icon-calender"></i> 일정</h3>
                    <p>2019.09.01 (WED) 14:00~16:00</p>
                    <p>2019.09.08 (WED) 14:00~16:00</p>
                    <p>2019.09.15 (WED) 14:00~16:00</p>
                    <p>2019.09.22 (WED) 14:00~16:00</p>
                </div>
            </div>
            <!-- Schedule / End -->


            <!-- Price & Account -->
            <div id="listing-pricing-list" class="listing-section">
                <div class="add-listing-headline">
                    <h3><i class="sl sl-icon-credit-card"></i> 결제하기</h3>
                </div>
                <div class="pricing-list-container">
                    <ul>
                        <li>
                            <h5 id="service_Price_Description"></h5>
                            <p id="account_Bank"><span id="account_NO"></span> </p>
                            <span id="service_Price"></span>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- Price & Account / End -->
        </div>

        <!-- Sidebar ================================================== -->
        <div class="col-lg-4 col-md-4 margin-top-75 sticky">

            <!-- Contact -->
            <div class="boxed-widget margin-top-35">
                <div class="hosted-by-title">
                    <h4 id="member_NickName"><span>선생님 소개</span>Tom Perrin</h4>
                    <a href="pages-user-profile.html" class="hosted-by-avatar"><img src="../img/dashboard-avatar.jpg" alt=""></a>
                </div>
                <!-- 자기소개 -->
                <ul class="listing-details-sidebar social-profiles">
                    <li><i class="sl sl-icon-emotsmile"></i><span>자기소개</span></li>
                    <li><blockquote><p id="introduce"></p></blockquote></li>
                </ul>
                <!-- 경력 -->
                <ul class="listing-details-sidebar social-profiles">
                    <li><i class="sl sl-icon-briefcase"></i><span>경력</span></li>
                    <li id="career"></li>
                </ul>
                <!-- 자격증 -->
                <ul class="listing-details-sidebar social-profiles">
                    <li><i class="sl sl-icon-trophy"></i><span>자격증</span></li>
                    <li id="certi"></li>
                </ul>
                <!-- 이메일 -->
                <ul class="listing-details-sidebar social-profiles">
                    <li><i class="sl sl-icon-envelope-open"></i><span>이메일</span></li>
                    <li id="member_Email"></li>
                </ul>
            </div>
            <!-- Contact / End-->
        </div>
        <!-- Sidebar / End -->
    </div>
</div>
